body {
    background: #42212F;
    color: white;
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
  background-color: red;
	color: red;
	transition: background-color 0.5s, color 0.5s;
  }

  #location-section {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background-color: #59405C;
    border-radius: 10px; 
  }

#locations {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
}

#location-section button {
  padding: 10px 20px;
  background-color: white;
  color: #42212F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#location-section button:hover {
  background-color: red;
  color: white;
}

#data-dump {
  margin-top: 20px;
  color: white;
  background-color: #59405C;
}
#raw-data {
  flex-wrap: wrap;
  border: 2px dashed black;
  margin: 0 auto;
}

footer {
  margin-top: 20px;
  color: white;
} 